.webrtc-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    width: 100%;
    background: #000;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2000;
    box-shadow: 2px 2px 2px #888;
}
.webrtc-calling-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 80%;
    width: 100%;
}
.webrtc-subscriber-info {
    
}
.animate-scale {
    animation: scale-loop 0.5s alternate infinite ease-in;
}
@keyframes scale-loop {
    0%   {transform: scale(1);}
    100% {transform: scale(1.2);}
}
.webrtc-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    z-index: 2001;
}
.webrtc-cancel-button {
    margin: 10px;
}
.webrtc-cancel-button img, .webrtc-accept-button img {
    cursor: pointer;
    width: 64px;
    height: 64px;
    filter: opacity(0.8);
}
.webrtc-local-video {
    position: absolute;
    object-fit: cover;
    height: 25%;
    width: 25%;
    top: 0;
    right: 0;
    z-index: 2002;
}
.webrtc-remote-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.webrtc-minimize {
    filter: invert() opacity(0.5);
    transform: scaleX(-1);
    position: absolute;
    top:0;
    left:0;
    width: 48px;
    height: 48px;

}
.webrtc-minimize:hover {
    filter: invert();
    cursor: pointer;
}
.webrtc-chat-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 75%;
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.webrtc-chat {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
.webrtc-chat::-webkit-scrollbar {
    width: 16px;
    background-color: #222;
}
.webrtc-chat::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: none;
  }
.webrtc-chat-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: calc(80px - 48px);
    right: 16px;
    filter: invert();
    cursor: pointer;
    z-index: 2002;
}
.webrtc-chat-input {
    border: 1px solid #ccc;
    z-index: 2100;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #222;
    resize: vertical;
    min-height: 2rem;
}
.webrtc-chat-input:focus {
    outline: none;
}
.webrtc-chat-message {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
.webrtc-chat-message b {
    padding-right: 0.5rem;
}
.webrtc-chat-caller-name {
    color: #3F51B5;
}
.webrtc-chat-callee-name {
    color: #2E7D32;
}
.webrtc-chat-type-indicator {
    font-size: 1rem;
    color: #ccc;
    text-align: right;
}
@media (hover: none) {
    .webrtc-popup {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        font-size: 200%;
    }
    .webrtc-cancel-button img, .webrtc-accept-button img {
        width: 96px;
        height: 96px;
    }
    .webrtc-local-video {
        top: 0;
        right: 0;
        max-width: 25%;
        max-height: 25%;
        width: unset;
        height: unset;
    }
    .webrtc-minimize {
        display: none;
    }
    /* chat */
    .webrtc-chat-icon {
        display: none;
    }
    .webrtc-chat-container {
        display: none;
    }
}

@media (hover: none) and (orientation: landscape) {
    .webrtc-local-video {

    }
}